# YouTube
REACT_APP_YOUTUBE_API_KEY=
REACT_APP_YOUTUBE_CHANNEL_ID=UCGXhrFTkevDVos5fFyl7HHg

# Firebase web app config
REACT_APP_FIREBASE_API_KEY=
REACT_APP_FIREBASE_AUTH_DOMAIN=
REACT_APP_FIREBASE_DATABASE_URL=
REACT_APP_FIREBASE_PROJECT_ID=
REACT_APP_FIREBASE_STORAGE_BUCKET=
REACT_APP_FIREBASE_MESSAGING_SENDER_ID=
REACT_APP_FIREBASE_APP_ID=
REACT_APP_FIREBASE_MEASUREMENT_ID=

# Pagar.me
REACT_APP_PAGARME_API_KEY=
REACT_APP_PAGARME_ENCRYPTION_KEY=
REACT_APP_PAGARME_PLAN_ID=1212867

# Câmara Pacatuba open data proxy
REACT_APP_CMPACATUBA_PROXY_URL=
